01.02 45 CFR 164.510 RAW TEXT

<SECTNO>§ 164.510</SECTNO>
    <SUBJECT>Uses and disclosures requiring an opportunity for the individual to agree or to object.</SUBJECT>
	
	<P>A covered entity may use or disclose protected health information, provided that the individual is informed in advance of the use or disclosure and has the opportunity to agree to or prohibit or restrict the use or disclosure, in accordance with the applicable requirements of this section. 
	
	
	Equivalent Classes = Uses and Disclosures
	
		haSubject- covered entity
		hasModality- may
		hasAction - use 
		hasAction - disclose
		hasObject - protected health information
		
		hasPurpose - send notification??????
		hasException - Except as provided by paragraph (a)(2) or (3) of this section
		hasConstraint - provided that the individual is informed in advance of the use
		hasConstraint - provided that the individual is informed in advance of the disclosure 
		hasConstraint - provided that the individual has the opportunity to agree to the use
		hasConstraint - provided that the individual has the opportunity to prohibit the use
		hasConstraint - provided that the individual has the opportunity to restrict the use
		hasConstraint - provided that the individual has the opportunity to agree to the disclosure 
		hasConstraint - provided that the individual has the opportunity to prohibit the disclosure 
		hasConstraint - provided that the individual has the opportunity to restrict the disclosure 
		
		hasexplicitHohfeldianConcept- privilege
		hasImplicitHohfeldianConcept - no-right
		hasSource - § 164.520 (a)(1) 
		
	The covered entity may orally inform the individual of and obtain the individual's oral agreement or objection to a use or disclosure permitted by this section.</P>
	
	Equivalent Classes = Uses and Disclosures
	
		haSubject- covered entity
		hasModality- may
		
		hasAction - orally inform
		hasTarget - the Individual
		hasObject - oral agreement 
		hasObject - objection 
		
		hasAction - obtain
		hasTarget - individual 
		hasObject - oral agreement 
		hasObject - objection 
		
	
		hasConstraint - to a use or disclosure permitted by this section.
		
		hasexplicitHohfeldianConcept- privilege
		hasImplicitHohfeldianConcept - no-right
		
		hasPurpose - send notification??????
		hasSource - § 164.510
	

/*      002
	The next stanza is the text to be analyzed for NORMATIVE PHRASES and MODALITY
	-------------------------------------------------------------
	TAC&M - The Analysis Phase:  Prepossessing  - 
	1.  Analyze Sentence by Sentence
	2.  Split Continuations in to separate rules
		a. Note the <E> …</E> signifies the following
		b. Standard: Use and disclosure for facility directories - which conveys XYZ
		c. Permitted uses and disclosure - which conveys ABC
		d. Then the section that immediately follows the <E> …</E> elements contain the text to be translated and list a continuation of sub-elements that this section must be prepended upon.
		e. Note the (i) section is the start of a block and (A) is first subsection in the block, therefore, (i) is prepended along with the section that contains the continuation 
	-------------------------------------------------------------
*/

<P>(a) <E T="03">Standard: Use and disclosure for facility directories</E>—(1) <E T="03">Permitted uses and disclosure.</E> Except when an objection is expressed in accordance with paragraphs (a)(2) or (3) of this section, a covered health care provider may:</P>
	<P>(i) Use the following protected health information to maintain a directory of individuals in its facility:</P>
	<P>(A) The individual's name;</P>

	(P02.01) Except when an objection is expressed in accordance with paragraphs (a)(2) or (3) of this section, a covered health care provider may {use the following protected health information to maintain a directory of individuals in its facility:} the individual's name;
	
	
		haSubject- covered health care provider
		hasModality- may
		
		hasAction - use
		hasObject - the [following protected health information = individual's name] 
		hasTarget - to maintain a directory of individuals in its facility
	
		hasException - Except when an objection is expressed in accordance with paragraphs (a)(2) or (3) of this section
		hasConstraint - N/A
		
		hasexplicitHohfeldianConcept- privilege
		hasImplicitHohfeldianConcept - no-right
	
		hasPurpose - send notification??????
		hasSource - § 164.510 (a)(1) (i) (A)
 

	<P>(i) Use the following protected health information to maintain a directory of individuals in its facility:</P>
	<P>(B) The individual's location in the covered health care provider's facility;</P>
	
	(P02.02) Except when an objection is expressed in accordance with paragraphs (a)(2) or (3) of this section, a covered health care provider may {use the following protected health information to maintain a directory of individuals in its facility:} the individual's location in the covered health care provider's facility;
	
		
			haSubject- covered health care provider
			hasModality- may
			
			hasAction - use
			hasObject - [the following protected health information ] => the individual's location in the covered health care provider's facility;
			
			hasTarget - to maintain a directory of individuals in its facility
		
			hasException - Except when an objection is expressed in accordance with paragraphs (a)(2) or (3) of this section
			hasConstraint - N/A
			
			hasexplicitHohfeldianConcept- privilege
			hasImplicitHohfeldianConcept - no-right
		
			hasPurpose - send notification??????
			hasSource - § 164.510 (a)(1) (i) (B)
		
		
		
	<P>(i) Use the following protected health information to maintain a directory of individuals in its facility:</P>
	<P>(C) The individual's condition described in general terms that does not communicate specific medical information about the individual; and</P>

	(P02.03)  Except when an objection is expressed in accordance with paragraphs (a)(2) or (3) of this section, a covered health care provider may {use the following protected health information to maintain a directory of individuals in its facility:} the individual's condition described in general terms that does not communicate specific medical information about the individual; and
	
		
			haSubject- covered health care provider
			hasModality- may
			
			hasAction - use
			hasObject - [the following protected health information ] => the individual's condition described in general terms that does not communicate specific medical information about the individual; and
			
			hasTarget - to maintain a directory of individuals in its facility
		
			hasException - Except when an objection is expressed in accordance with paragraphs (a)(2) or (3) of this section
			hasConstraint - N/A
			
			hasexplicitHohfeldianConcept- privilege
			hasImplicitHohfeldianConcept - no-right
		
			hasPurpose - send notification??????
			hasSource - § 164.510 (a)(1) (i) (C)
	
	
	<P>(i) Use the following protected health information to maintain a directory of individuals in its facility:</P>
	<P>(D) The individual's religious affiliation; and</P>
	
	
	(P02.04) Except when an objection is expressed in accordance with paragraphs (a)(2) or (3) of this section, a covered health care provider may {use the following protected health information to maintain a directory of individuals in its facility:} the individual's religious affiliation
	
		
		
			haSubject- covered health care provider
			hasModality- may
			
			hasAction - use
			hasObject - [the following protected health information ] => the individual's religious affiliation
			
			hasTarget - to maintain a directory of individuals in its facility
		
			hasException - Except when an objection is expressed in accordance with paragraphs (a)(2) or (3) of this section
			hasConstraint - N/A
			
			hasexplicitHohfeldianConcept- privilege
			hasImplicitHohfeldianConcept - no-right
		
			hasPurpose - send notification??????
			hasSource - § 164.510 (a)(1) (i) (D)




/*      003
	The next stanza is the text to be analyzed for NORMATIVE PHRASES and MODALITY
	-------------------------------------------------------------
	TAC&M - The Analysis Phase:  Prepossessing  - 
	1.  Analyze Sentence by Sentence
	2.  Split Continuations in to separate rules
		a. Note this (ii) section is the continuation of a subsection (a) (1) which has subordinate sections (i) A, B, C, D &  (ii) A & B
		b. It is important to note, a continuation means, that the preceding section is a part of this segmentation 
	-------------------------------------------------------------
*/


    <P>(ii) Use or disclose for directory purposes such information:</P>
    <P>(A) To members of the clergy; or</P>

	(P03.01) Except when an objection is expressed in accordance with paragraphs (a)(2) or (3) of this section, a covered health care provider may {use or disclose for directory purposes such information:} to members of the clergy;
	
	
		haSubject- covered health care provider
		hasModality- may
		
		hasAction - use
		hasObject - [such information] 
		hasTarget - to members of the clergy
		
		hasAction - disclose
		hasObject - [such information] 
		hasTarget - to members of the clergy
		
		
		hasException - Except when an objection is expressed in accordance with paragraphs (a)(2) or (3) of this section
		hasConstraint - for directory purposes
		
		hasexplicitHohfeldianConcept- privilege
		hasImplicitHohfeldianConcept - no-right
	
		hasPurpose - for directory purposes??????
		hasSource - § 164.510 (a)(1) (ii) (A)
	
    <P>(B) Except for religious affiliation, to other persons who ask for the individual by name.</P>

	(P03.01) Except when an objection is expressed in accordance with paragraphs (a)(2) or (3) of this section, a covered health care provider may {use or disclose for directory purposes such information:} except for religious affiliation, to other persons who ask for the individual by name.
	
	
		haSubject- covered health care provider
		hasModality- may
		
		hasAction - use
		hasObject - [such information] 
		hasTarget - to members of the clergy
		
		hasAction - disclose
		hasObject - [such information] 
		hasTarget - to members of the clergy
		
		
		hasException - Except when an objection is expressed in accordance with paragraphs (a)(2) or (3) of this section
		hasException - except for religious affiliation, to other persons who ask for the individual by name.
		
		
		hasexplicitHohfeldianConcept- privilege
		hasImplicitHohfeldianConcept - no-right
	
		hasPurpose - for directory purposes??????
		hasSource - § 164.510 (a)(1) (ii) (B)
	
	
	
/*      003
	The next stanza is the text to be analyzed for NORMATIVE PHRASES and MODALITY
	-------------------------------------------------------------
	TAC&M - The Analysis Phase:  Prepossessing  - 
	1.  Analyze Sentence by Sentence
	2.  Split Continuations in to separate rules
		a. Note this (ii) section is the continuation of a subsection (a) (1) which has subordinate sections (i) A, B, C, D &  (ii) A & B
		b. It is important to note, a continuation means, that the preceding section is a part of this segmentation 
	-------------------------------------------------------------
*/
	
	
    <P>(2) <E T="03">Opportunity to object.</E> A covered health care provider must inform an individual of the protected health information that it may include in a directory and the persons to whom it may disclose such information (including disclosures to clergy of information regarding religious affiliation) and provide the individual with the opportunity to restrict or prohibit some or all of the uses or disclosures permitted by paragraph (a)(1) of this section.</P>

	haSubject- covered health care provider
	hasModality- must
	
	hasAction - inform
	hasTarget - an individual
	hasObject - of the protected health information that it may include in a directory 
		hasConnective - AND
	hasObject - the persons to whom it may disclose such information (including disclosures to clergy of information regarding religious affiliation)
	
	hasAction - provide
	hasTarget - individual
	hasObject - with the opportunity to 
		hasAction - restrict 
			hasConnective - OR
		hasAction - prohibit
		hasObject - some of the uses or disclosures permitted by paragraph (a)(1) of this section.
			hasConnective - OR
		hasObject - all of the uses or disclosures permitted by paragraph (a)(1) of this section.
		
	hasException - N/A
	
	hasexplicitHohfeldianConcept- obligation
	hasImplicitHohfeldianConcept - right

	hasPurpose - for directory purposes??????
	hasSource - § 164.510 (a)(2) 



    <P>(3) <E T="03">Emergency circumstances.</E> 

	(i) If the opportunity to object to uses or disclosures required by paragraph (a)(2) of this section cannot practicably be provided because of the individual's incapacity or an emergency treatment circumstance, a covered health care provider may use or disclose some or all of the protected health information permitted by paragraph (a)(1) of this section for the facility's directory, if such disclosure is:</P>
	
	    <P>(A) Consistent with a prior expressed preference of the individual, if any, that is known to the covered health care provider; and</P>
	
		hasCondition -  If the opportunity to object to uses or disclosures required by paragraph (a)(2) of this section cannot practicably be provided because of the individual's incapacity or an emergency treatment circumstance,
		
		haSubject- a covered health care provider
		hasModality- may 
		
		hasAction - use or disclose
		hasTarget - 
		hasObject -  some of the protected health information permitted by paragraph (a)(1) of this section for the facility's directory
			hasConnective - OR
		hasObject - all of the protected health information permitted by paragraph (a)(1) of this section for the facility's directory, 
		
		hasCondition -  if such disclosure is:
			hasAction - Consistent with a prior expressed preference of the individual, if any, that is known to the covered health care provider; 
	
		hasexplicitHohfeldianConcept- privilege
		hasImplicitHohfeldianConcept - no-right
	
		hasPurpose - 
		hasSource - § 164.510 (a)(3)(i)(A)
	
	    <P>(B) In the individual's best interest as determined by the covered health care provider, in the exercise of professional judgment.</P>
		
		hasCondition -  If the opportunity to object to uses or disclosures required by paragraph (a)(2) of this section cannot practicably be provided because of the individual's incapacity or an emergency treatment circumstance,
		
		haSubject- a covered health care provider
		hasModality- may 
		
		hasAction - use or disclose
		hasTarget - 
		hasObject -  some of the protected health information permitted by paragraph (a)(1) of this section for the facility's directory
			hasConnective - OR
		hasObject - all of the protected health information permitted by paragraph (a)(1) of this section for the facility's directory, 
		
		hasCondition -  if such disclosure is:
			hasAction - In the individual's best interest as determined by the covered health care provider, in the exercise of professional judgment.</P>
	
		hasexplicitHohfeldianConcept- privilege
		hasImplicitHohfeldianConcept - no-right
	
		hasPurpose - 
		hasSource - § 164.510 (a)(3)(i)(B)
		
    

	<P>(ii) The covered health care provider must inform the individual and provide an opportunity to object to uses or disclosures for directory purposes as required by paragraph (a)(2) of this section when it becomes practicable to do so.</P>
	
	haSubject - covered health care provider
	hasModality - must 
	
	hasAction - inform 
	hasObject -  the individual
		hasConnective -  AND
	
	hasAction - provide 
	hasObject - opportunity
	
		
	hasException - 
	hasConstraint -  
	
	hasexplicitHohfeldianConcept- 
	hasImplicitHohfeldianConcept - 
	
	hasPurpose -  to object to uses or disclosures for directory purposes as required by paragraph (a)(2) of this section when it becomes practicable to do so.
	hasSource - § 164.510 (a)(3)(ii)
	
	


{{{============ STOP HERE ==================:  The remaining legal text needs added so the analysis can be completed - 
START with section (a) (3)….

Is there an opportunity to use hasCondition vs. hasConstraint for "if statements"

/*
	The next stanza is the text to be analyzed for NORMATIVE PHRASES and MODALITY
	-------------------------------------------------------------
	TAC&M - The Classify Phase:  
	(i) A, B, C, D &  (ii) A & B
	a) 1) i) A, B, C, … b) (1) (i) 
	
	Previous hasSource - § 164.510 (a)(3)(ii)
	Current hasSource - § 164.510 (b)(1)(i)
	-------------------------------------------------------------
*/

    <P>(b) <E T="03">Standard: Uses and disclosures for involvement in the individual's care and notification purposes</E>—

	(1) <E T="03">Permitted uses and disclosures.</E> 
		(i) A covered entity may, in accordance with paragraphs (b)(2), (b)(3), or (b)(5) of this section, disclose to a family member, other relative, or a close personal friend of the individual, or any other person identified by the individual, the protected <PRTPAGE P="1329"/>health information directly relevant to such person's involvement with the individual's health care or payment related to the individual's health care.</P>
		
		haSubject - covered entity
		hasModality - may
			hasConstraint -  in accordance with paragraphs (b)(2), (b)(3), or (b)(5) of this section,
		hasAction - disclose 
			hasTarget - to a family member
			hasTarget - other relative
			hasTarget - a close personal friend of the individual
			hasTarget - or any other person identified by the individual,
		hasObject -  the protected health information 
			hasConstraint -  directly relevant to such person's involvement with the individual's health care 
				hasConnective - OR
			hasConstraint -  directly relevant to such person's payment related to the individual's health care.
			
		hasexplicitHohfeldianConcept- privilege
		hasImplicitHohfeldianConcept - no-right
		
		hasPurpose - 
		hasSource - §164.510 (b)(1)(i) 
		
		
		(ii) A covered entity may use or disclose protected health information to notify, or assist in the notification of (including identifying or locating), a family member, a personal representative of the individual, or another person responsible for the care of the individual of the individual's location, general condition, or death. Any such use or disclosure of protected health information for such notification purposes must be in accordance with paragraphs (b)(2), (b)(3), (b)(4), or (b)(5) of this section, as applicable.</P>
		
		haSubject - covered entity
		hasModality - may
		
		hasAction - use
			hasConnective - OR
		hasAction - disclose
		
		hasObject -  protected health information 
			
		hasexplicitHohfeldianConcept- privilege
		hasImplicitHohfeldianConcept - no-right
		
		hasPurpose - to notify,
			hasConnective - OR
		hasPurpose -  assist in the notification 
			hasTarget -  of (including identifying or locating), 
			hasTarget - a family member, 
			hasTarget - a personal representative of the individual, 
				hasConnective - OR
			hasTarget - another person responsible for the care of the individual of the individual's location, 
				hasObject - general condition, 
					hasConnective - OR
				hasObject - death. 
		hasConstraint - Any such use or disclosure of protected health information for such notification purposes must be in accordance with paragraphs (b)(2), (b)(3), (b)(4), or (b)(5) of this section, as applicable.</P>
		hasSource - §164.510 (b)(1)(ii) 
		
		
	(2) <E T="03">Uses and disclosures with the individual present.</E> If the individual is present for, or otherwise available prior to, a use or disclosure permitted by paragraph (b)(1) of this section and has the capacity to make health care decisions, the covered entity may use or disclose the protected health information if it:</P>
		
		(i) Obtains the individual's agreement;</P>
		
		(ii) Provides the individual with the opportunity to object to the disclosure, and the individual does not express an objection; or</P>
		
		(iii) Reasonably infers from the circumstances, based on the exercise of professional judgment, that the individual does not object to the disclosure.</P>
		
	(3) <E T="03">Limited uses and disclosures when the individual is not present.</E> If the individual is not present, or the opportunity to agree or object to the use or disclosure cannot practicably be provided because of the individual's incapacity or an emergency circumstance, the covered entity may, in the exercise of professional judgment, determine whether the disclosure is in the best interests of the individual and, if so, disclose only the protected health information that is directly relevant to the person's involvement with the individual's care or payment related to the individual's health care or needed for notification purposes. A covered entity may use professional judgment and its experience with common practice to make reasonable inferences of the individual's best interest in allowing a person to act on behalf of the individual to pick up filled prescriptions, medical supplies, X-rays, or other similar forms of protected health information.</P>
	
	(4) <E T="03">Uses and disclosures for disaster relief purposes.</E> A covered entity may use or disclose protected health information to a public or private entity authorized by law or by its charter to assist in disaster relief efforts, for the purpose of coordinating with such entities the uses or disclosures permitted by paragraph (b)(1)(ii) of this section. The requirements in paragraphs (b)(2), (b)(3), or (b)(5) of this section apply to such uses and disclosures to the extent that the covered entity, in the exercise of professional judgment, determines that the requirements do not interfere with the ability to respond to the emergency circumstances.</P>
	
	(5) <E T="03">Uses and disclosures when the individual is deceased.</E> If the individual is deceased, a covered entity may disclose to a family member, or other persons identified in paragraph (b)(1) of this section who were involved in the individual's care or payment for health care prior to the individual's death, protected health information of the individual that is relevant to such person's involvement, unless doing so is inconsistent with any prior expressed preference of the individual that is known to the covered entity.</P>
	
	
	
	
	
    <CITA>[65 FR 82802, Dec. 28, 2000, as amended at 67 FR 53270, Aug. 14, 2002; 78 FR 5699, Jan. 25, 2013]</CITA>
  </SECTION>
